extends layout

include mixins/form

block tools
  +tools('show', page.wikiname)

block content

  if !isAjax
    #js--content.show
      +notice()
      +warning()
      !=content
  else
    .ever-hopeful-content.ever-hopeful-show
      !=content
  - var klass = isAjax ? 'ever-hopeful-footer' : 'footer'
  p(class=klass) Updated by&nbsp;
    b
      +author(page.metadata.author, page.metadata.email)
    |,&nbsp;
    b(title=page.metadata.date) #{page.metadata.relDate}&nbsp;
    | &ndash; #{page.metadata.hash}
